.scratchers-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .scratchers-table th,
  .scratchers-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .scratcher-image {
    width: 100px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%;
  }